body {
  background-color: #f7e6d0;
}

.title {
  text-align: center;
  color: #edb56c;
  margin-top: 80px;
}

.btn {
  -webkit-tap-highlight-color: transparent;
  outline: none;
  user-select: none;
  
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  
  background-color: #63ace2;
  border: 1px solid;
  text-align: center;
  cursor: pointer;
  border-radius: 9px;
  width: 200px;
  height: 50px;
  margin: 20px;
}

#Board {
  display: grid;
  grid-template-columns: repeat(15, 1fr);
  width: min(95vw, 600px);
  aspect-ratio: 1;
  margin: auto;
  background: #d8b37a;
  padding: calc((min(95vw, 600px) / 15) / 4);
  box-sizing: border-box;
}

.cell {
  position: relative;
}

.cell::before {
  content: "";
  position: absolute;
  left: 50%;
  top: 0;
  width: 1px;
  height: 100%;
  background: black;
  transform: translateX(-50%);
}

.cell::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 0;
  width: 100%;
  height: 1px;
  background: black;
  transform: translateY(-50%);
}

.stone{
    width: 80%;
    height: 80%;
    border-radius: 50%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1;
}

.black { background: black; }
.white { background: white; border: 1px solid #000; }

.star-point {
  width: 30%;
  height: 30%;
  background: black;
  border-radius: 50%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.left::after {
  left: 50%;
  width: 50%;
}
.top::before {
  top: 50%;
  height: 50%;
}
.bottom::before {
  height: 50%;
}
.right::after {
  width: 50%;
}